$background-primary-color: #fbfef4;
$primary-color: #37ab00;
$background-secondary-color: #fff;

$black-transparent-30: #0000004d;
$black-transparent-20: #00000033;
$black-transparent-03: #00000088;

$black-transparent-70: #000000b3;
