$background-primary-color: #fbfef4;
$primary-color: #37ab00;
$background-secondary-color: #fff;

$black-transparent-30: #0000003b;
$black-transparent-20: #00000033;
$black-transparent-03: #00000008;

$black-transparent-70: #00000070;
